:root {
    --orange: #D1884F;
    --blue: #008AAA;
    --light-blue: #3BBADB;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  header {
    color: var(--light-blue);
  }

  h1 {
    font-size: 55px;
    font-weight: bold;
    color: var(--blue);
  }

  nav {
   padding-left:35%;
  }



  .nav-link {
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    color: #333; 
    font-size: 20px; 
  }

  .nav-link:active {
    color: var(--orange)
  }

  .custom-button-1 {
    background-color: var(--blue); 
    color: #ffffff; 
    padding: 5px 20px; 
    border: none;
    border-radius: 5px; 
    margin-right: 10px; 
    box-shadow: 0px 5px 5px rgba(162, 213, 228, 0.8); 
    font-size: 20px;
  }

  .custom-button-2 {
    background-color:#ffffff; 
    color: var(--light-blue); 
    padding: 4px 20px; 
    border: 10;
    border-color: var(--light-blue);
    border-radius: 5px; 
    margin-right: 10px; 
    font-size: 20px;
  }
  
  
  .button-container {
    padding-top: 40px;
 
  }

  .footer-text {
    padding-top: 300px;
 
  }

  .content-container {
    display: flex;
    align-items: center; 
}


.text-container {
    flex: 1; 
  
}


.styled-image {
    padding-left: 20px;
    width: 400px;
    height: 383px;
   border-bottom-left-radius: 200px;
   margin-top: -20px;
   
}   

.image-container {

    background-color: var(--light-blue);
    border-bottom-left-radius: 200px;
    width: 420px;
    height: 383px;
    height: 363px;
    
}
.content-container {

    width: 1100px;
    
}

.header-text{

    font-size: 25px;
    padding-top: 50px;
    
}